<!doctype html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" description="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <style id="css"></style>
</head>
<body>
<div id="app">{{body}}</div>
<script id="source" src="{{entry}}" data-initial-state="{{state}}"></script>
</body>
</html>
